default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: myapp_user
  password: myapp_password
  host: mysql

development:
  <<: *default
  database: myapp_development

test:
  <<: *default
  database: myapp_development

production:
  <<: *default
  url: myapp_development
